<%- include('partials/header') %>

    <div class="row justify-content-center wrapper-container">
        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-1">404</h1>
                    <h2 class="mb-4">Trang không tồn tại</h2>
                    <p class="lead mb-4">Trang bạn đang tìm kiếm không tồn tại hoặc đã bị chuyển đổi.</p>
                    <a href="/" class="btn btn-primary">Trang chủ</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .wrapper-container {
            min-height: calc(100vh - 440px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <%- include('partials/footer') %>